conf/server_config.php
conf/system_config.php
mvc/lib/*
userProfile/*
systemUpload/*
systemFile/document/*
systemFile/license/*
systemFile/member/*
systemJobs/applied_record/*
systemJobs/pages_tmp/*
*.log
