/*== [ Admin Track Css  ] ==*/
 
/* [ record list ]  */

    
	.record_filter{
	  width:120px;
      text-align:center;	  
	}
	
	
	h1.area_type{
	  padding:5px;
      font-size:1.5em;
	  font-weight:bold;
	} 
    tr.data_field td{background-color:#88bfbf; }
	tr.data_field td:nth-child(n+2){ text-align:center;}	
	tr.data_summary td{ color:#333333; font-weight:bold;}	
	
    tr.data_record td{ cursor:pointer; }
	tr.data_record td:nth-child(1){  width:300px;}
	tr.data_record td:nth-child(2){  width:100px; text-align:center;   }
	tr.data_record td:nth-child(3){  width:100px; text-align:center;}
	tr.data_record td:nth-child(4){  width:100px; text-align:center;}
	tr.data_record td:nth-child(5){  width:100px; text-align:center;}
	tr.data_record td:nth-child(6){  width:100px; text-align:center; }
	tr.data_record td:nth-child(7){  width:150px; text-align:center; }
	tr.data_record td:nth-child(8){  width:150px; text-align:center; }
	tr.data_record td:nth-child(9){  min-width:100px; text-align:center; }
	
	tr._target td:nth-child(1){background-color:#84b9cb;color:#FFFFFF;}
	
	
	/* filter setting */
	tr.data_record.hide{display:none;}
	
	/* status setting */
	tr.data_record[status='mask']{opacity:0.5;}
	  		
			
	  i[class*="pic_post_display_"]{
		position:relative;  
	  }		
			
	  i[class*="pic_post_display_"]:after{
		color:#fff;
	    background:#333;
	    background:rgba(51,51,51,0.75);
	    padding:5px;
	    position:absolute;
	    left:-9999px;
	    opacity:0;
	    bottom:100%;
	    white-space:nowrap;
	    -webkit-transition:0.25s linear opacity;		
	  }
	  
	  i.pic_post_display_1:hover:after{
		content:"公告已開啟";
		left:5px;
	    opacity:1;
	  }
	  
	  i.pic_post_display_0:hover:after{
		content:"公告關閉中";
		left:5px;
	    opacity:1;
	  }	  
		
	   
/* [ module relate ] */	 
    
			
	