/*== [ Admin Lotto Css  ] ==*/	  
	
/* [ page option ]  */
    
	button#act_built_lotto{
	  width:150px;
	  height:40px;   
    }
       
        select#area_lotto_selecter{
		  padding:7px 3px;	
		}
		
		span.input_date{ position:relative;	 }
		span.input_date > input[type='text']{ padding:7px 0px 7px 25px; width:141px;}
		span.input_date > i.fa{position:absolute; left:5px; top:2px;}
	    
	
	
/* [ record list ]  */
 
	tr.data_record:nth-child(odd){ background-color:#f9f9f9; }
	tr.data_record td{ cursor:pointer; }
	tr.data_record td:nth-child(1){  width:50px;  }
	tr.data_record td:nth-child(2){  width:120px;  }
	tr.data_record td:nth-child(3){  }
	tr.data_record td:nth-child(4){ width:100px; text-align:center; }
	tr.data_record td:nth-child(5){ width:100px; }
	tr.data_record td:nth-child(6){ width:140px; font-size:0.8em; }
	tr.data_record td:nth-child(7){ width:100px; text-align:center; }
	tr.data_record td:nth-child(8){ width:60px; text-align:center; }
	
	tr._target td:nth-child(1){background-color:#84b9cb;color:#FFFFFF;}
	
	td[field='@loted'] > i{display:none;}	
	td[field='@loted'][islot='0'] > i.fa-clock-o{display:block; }
	td[field='@loted'][islot='1'] > i.fa-check-square-o{display:block; color:#65ab31;}
			
			
/* [ record form ] */
		
  div#record_form_block{
	color:#979898; 
	display:none;
  }	
	div.form_block{
	  float:left;
	  margin-right:10px;
	}
	
	div.form_block > h1{
	  font-weight:bold;	
	  margin:10px 0;	
	  padding:10px;
	  background-color:#474a4d;
	  border-radius:3px;
	  color:#FFFFFF;
	  position:relative;
	  display:flex;
	  justify-content:space-between;
	  align-items:center;
	}
	
	div.form_block > h1 > .func{
	  position:absolute;
      right:5px;
      top:5px;	  
	}
	
	div.col1{ width:99%; }
	div.col2{ width:49%; min-width:400px; }
	 
	  table.booking_list{
		width:98%;
		padding:0 1%;
	  }   
	    table.booking_list td{ padding:4px 1px; min-height:30px;}
		tr.booking > td{border-bottom:1px #efefef solid;}
	    tr.booking > td:nth-child(1){  width:90px;  font-family: monospace; }
		tr.booking > td:nth-child(2){  width:100px;  }
		tr.booking > td:nth-child(3){  width:100px;  }
		tr.booking > td:nth-child(4){  width:50px; text-align:center;  }
		tr.booking > td:nth-child(5){  min-width:200px; }
		tr.booking > td:nth-child(6){  width:50px; text-align:center;  }
		  
		tr.booking > td.lotto > i{display:none;}
		tr.booking[lotto='1']  > td.lotto > i.pic_account_status5{display:inline-block;} 
		tr.booking[accept='0'] > td.lotto > i.pic_account_status0{display:inline-block;} 
		
		
	  ul.lotto_logs{
		padding:1%;  
	  }	
		li.process{
		  padding:4px 0;	
		  display:flex;
		  align-items:center;
		  border-bottom:1px #efefef dotted;;
		}
		
		li.process > span:nth-child(n+2){padding-left:5px;}
		li.process > span:nth-child(2){width:100px;}
		
		
		
		
		
		
		